body{
    background-color:#4AF8F0;
}
.navbar{
    padding: 0;
    border: solid 5px #4C4AF8;
}
.navegador{
    background-color: #55A5F0; 
    margin: 0;
}

.contenido{
    border: solid, 3px, blue;
}
.titulo{
    background-color: red;
}